.site-footer {
    background-color: #fff;
    font-size: 12px;
    color: #616a78;
    border-top: 1px solid #f1f2f3;
    padding: 15px 30px;
}

.site-footer p {
    margin-bottom: 0;
    font-weight: 400;
}

.site-footer a {
    color: #616a78;
}

.site-footer a:hover {
    color: #33cabb;
}
